*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#game {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, white, lightgreen);
}

#clicker {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  border: 5px solid #333;
  background: repeating-linear-gradient(-45deg, #333, #333 20px, yellow 20px, yellow 40px);
  border-radius: 50%;
  cursor: pointer;
}

[flex],
[flex="row"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

[flex="column"] {
  flex-direction: column;
}
